.registration__header
  .progress
    = link_to "/" do
      =image_tag "header_logo.png", class: "progress__logo"
      
    .progress__bar
      .progress__bar__box
        %p.step1 会員情報
        .progress__bar__box__circle#step1
        .step1_bar

      .progress__bar__box
        %p#step2_text 電話番号認証
        .progress__bar__box__circle#step2_circle
        .step2_bar#step2

      .progress__bar__box
        %p#step3_text お届け先住所入力
        .progress__bar__box__circle#step3_circle
        .step3_bar#step3

      .progress__bar__box
        %p#step4_text 支払い方法
        .progress__bar__box__circle#step4_circle
        .step4_bar#step4

      .progress__bar__box
        %p#step5_text 完了
        .progress__bar__box__circle#step5_circle
        .step5_bar#step5
%button.bbttnn
.registration__first
  .registration__first__box
    %h2.registration__first__box__top
      会員情報登録
    = form_for @user, url: step2_signup_index_path, method: :post, html: {class: ".registration__first__box__middle"} do |f|
      -# = devise_error_messages!
      .registration__first__box__middle__input
        .field-label.registration__first__box__middle__input__name
          = f.label "ニックネーム"
          %span 必須
        = f.text_field :name, autofocus: true, class:"signup_input_defaul1t", placeholder: " 例)メルカリ太郎"
        = render partial:'error_message_signup', locals: {user: @user, column: "name"}

      .registration__first__box__middle__input
        .field-label.registration__first__box__middle__input__name
          = f.label "メールアドレス"
          %span 必須
        = f.email_field :email, class:"signup_input_defaul1t bbb", placeholder: " PC・携帯どちらでも可"
        = render partial:'error_message_signup', locals: {user: @user, column: "email"}

        - if session["devise.sns_id"].present?
          = f.hidden_field :password
          = f.hidden_field :password_confirmation
        - else
          .registration__first__box__middle__input
            .field-label.registration__first__box__middle__input__name
              = f.label "パスワード"
              %span 必須
              = f.password_field :password, autocomplete: "off", class:"signup_input_defaul1t ccc", placeholder: "英数字7文字以上"
              = render partial:'error_message_signup', locals: {user: @user, column: "password"}

          .registration__first__box__middle__input
            .field-label.registration__first__box__middle__input__name
              = f.label "パスワード（確認）"
              %span 必須
              = f.password_field :password_confirmation, autocomplete: "off", class:"signup_input_defaul1t ccc", placeholder: "英数字7文字以上"
              = render partial:'error_message_signup', locals: {user: @user, column: "password"}
              %p ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。

      .registration__first__box__middle__input
        .field-label.registration__first__box__middle__input__name
          = f.label "お名前（全角）"
          %span 必須
        .registration__first__box__middle__input__double
          = f.text_field :last_name, autofocus: true, class:"signup_input_defaul1t", placeholder: "谷口"
          = f.text_field :first_name, autofocus: true, class:"signup_input_defaul1t", placeholder: "寛人"
        .error_adjustment
          = render partial:'error_message_signup', locals: {user: @user, column: "last_name"}
          = render partial:'error_message_signup', locals: {user: @user, column: "first_name"}

      .registration__first__box__middle__input
        .field-label.registration__first__box__middle__input__name
          = f.label "お名前カナ（全角）"
          %span 必須
        .registration__first__box__middle__input__double
          = f.text_field :last_name_kana, autofocus: true, class:"signup_input_defaul1t", placeholder: "タニグチ"
          = f.text_field :first_name_kana, autofocus: true, class:"signup_input_defaul1t", placeholder: "ヒロト"
        .error_adjustment
          = render partial:'error_message_signup', locals: {user: @user, column: "last_name"}
          = render partial:'error_message_signup', locals: {user: @user, column: "first_name"}

      .registration__first__box__middle__input
        .registration__first__box__middle__input__name
          .saba 生年月日
      .registration__first__box__middle__input__birthday_area
        = f.date_select :birthday, start_year: 1930, end_year: Date.today.year, class: "select_birthday"

      .registration__first__box__middle__input
        = image_tag "robo.png", class: "robo_image"

      .registration__first__box__middle__input
        %p.registration__first__box__middle__input__info
          「次へ進む」のボタンを押すことにより、利用規約に同意したものとみなします
      .registration__first__box__middle__input
        .actions
          = f.submit "次へ進む", class: "last_submit"

  = render partial: "devise/layout/footer"