.registration__header
  .progress
    =link_to "/" do
      =image_tag "header_logo.png", class: "progress__logo"
    .progress__bar
      .progress__bar__box
        %p.step1 会員情報
        .progress__bar__box__circle#step1
        .step1_bar

      .progress__bar__box
        %p#step2_text 電話番号認証
        .progress__bar__box__circle#step2_circle
        .step2_bar#step2

      .progress__bar__box
        %p#step3_text お届け先住所入力
        .progress__bar__box__circle#step3_circle
        .step3_bar#step3

      .progress__bar__box
        %p#step4_text 支払い方法
        .progress__bar__box__circle#step4_circle
        .step4_bar#step4

      .progress__bar__box
        %p#step5_text 完了
        .progress__bar__box__circle#step5_circle
        .step5_bar#step5

.registration__first
  .registration__first__box
    -# = form_for @user, url: step3_signup_index_path, method: :get, html: {class: ".registration__first__box__middle"} do |f|
    -# ユーザーの登録情報を保存するテーブルに、追加するためのカラムがないなめ "" 空のカラム名を指定してあげています
    %h2.registration__first__box__top 電話番号の確認
    = form_for @user, url: step3_signup_index_path, method: :post, html: {class: ".registration__first__box__middle"} do |f|
      .registration__first__box__middle__input
        .registration__first__box__middle__input__name
          = f.label "携帯電話の番号"
          %span 必須
          = f.telephone_field :tel_number, autocomplete: "off",class:"aaaa", placeholder:" 電話番号を入力してください"
          = render partial:'error_message_signup', locals: {user: @user, column: "tel_number"}
      .registration__first__box__middle__input
        = f.submit "SMSを送信する", class: 'last_submit'
        %p ＊電話番号は本人確認や不正利用防止のために利用します。他のユーザーに公開されることはありません。
        %a{href: "#"} 電話番号の確認が必要な理由＞
      -# .registration__first__box__middle__input
      -#   .actions
      -#     = f.submit "次へ進む", class: 'last_submit'

  = render partial: "devise/layout/footer"