.registration__header
  = render "progress"

.registration__first
  .registration__first__box
    %h2.registration__first__box__top 電話番号認証
    -# %form.registration__first__box__middle{action: "regi_fourth"}
    -# = form_for @user, url: step4_signup_index_path, method: :get, html: {class: ".registration__first__box__middle"} do |f|
    = form_for "", url: step4_signup_index_path, method: :get, html: {class: ".registration__first__box__middle"} do |f|
      .registration__first__box__middle__input
        .registration__first__box__middle__input__name
          = f.label :'電話番号認証'
          %span 必須
        = f.telephone_field :password, autocomplete: "off",class:"aaaa", placeholder:" 電話番号を入力してください"

      .registration__first__box__middle__input
        .registration__first__box__middle__input__name
          = f.label :'認証番号'
        = f.telephone_field :password, autocomplete: "off",class:"aaaa", placeholder:" 認証番号を入力"
        -# %input{placeholder: "  認証番号を入力"}
        %p SMSで届いた認証番号を入力してください
        = f.submit "認証して完了", class: 'last_submit'
        -# %button{type: "submit"} 認証して完了

        -# %form.registration__first__box__middle
      .registration__first__box__middle
        .registration__first__box__middle__input
          .registration__first__box__middle__input__name
          %p 30秒たっても認証番号が届かない方へ
          %p 電話で認証番号を聞くこともできます。
          = f.submit "電話で認証番号を聞く（通話無料)", class: 'last_submit'
          -# %button{type: "submit"} 電話で認証番号を聞く（通話無料）

      .registration__first__box__middle__input
        .registration__first__box__middle__input__name 認証番号を再送することもできます。もう一度電話番号を入力して下さい。
        .registration__first__box__middle__info
          %a{href: "#"} 電話番号を再度入力する
          %p ※SMSが届かない場合はSMS受信設定を確認して、もう一度電話番号を入力してください。

      -# .registration__first__box__middle__input
      -#   .actions
      -#     = f.submit "次へ進む", class: 'last_submit'
  = render partial: "devise/layout/footer"