.header__nav
  .header__menu
  .header__puru
    %ul.parent_box
      - @parents.each do |p|
        %li.parent_list
          = link_to "#{p.name}", "/more/#{p.id}"
          %ul.children_box
            - p.children.each do |c|
              %li.children_list
                = link_to "#{c.name}", "/more/#{c.id}"
                %ul.grandchildren_box
                  - c.children.each do |gc|
                    %li.grandchildren_list
                      = link_to "#{gc.name}", "/more/#{gc.id}"