.detail
  .detail_container
    %h1.item_name
      アニエスベー トートバッグ
    %p.item_about
      『アニエスベー トートバッグ』は、45回の取引実績を持つasaさんから出品されました。アニエスベー（トートバッグ/レディース）の商品で、東京都から4~7日で発送されます。
    .container_wrap
      .item_container
        %ul.item_container__list
          %li 画1
          %li 画2
          %li 画3
          %li 画4
          %li 画5
      %table.item_table
        %tr
          %th 出品者
          %td
            = link_to 'timothy', " ",class:"owner_name"
            .evaluation
              %span.btn_smile_num
                117
              %span.btn_normal_num
                0
              %span.butn_sad_num
                0
        %tr
          %th カテゴリー
          %td レディース　バッグ　トートバッグ
        %tr
          %th ブランド
          %td
            = link_to 'オーチバル', " ",class:"table"
        %tr
          %th 商品の状態
          %td 新品、未使用
        %tr
          %th 配送料の負担
          %td 送料込み(出品者負担)
        %tr
          %th 配送の方法
          %td らくらくメルカリ便
        %tr
          %th 配送元地域
          %td
            = link_to '東京都(都道府県が入る)', " ",class:"table"
        %tr
          %th 発送日の目安
          %td ４〜７日で発送
    .item_pricebox
      %span.item_pricebox__price
        ¥14,000
      %span.item_pricebox__tax
        (税込)
      %span.item_pricebox__fee
        送料込み
    .item_buy
      購入画面に進む
    .item_description
      ブランド/アニエスベー
      %br/
      %br/
      カラー/ブラック
      %br/
      %br/
      サイズ/38.5cm × 37.5cm 持ち手 53.7cm
      %br/
      %br/
      バーティカルなビックロゴをプリントしたキャッチーなナイロントートバック。
      %br/
      ブラックxホワイトのモノトーンカラーはお洋服を選ばずお使い頂けます。
      %br/
      A4サイズも楽々入ります。
      %br/
      %br/
      現在完売中の商品
      %br/
      新品未使用で布袋もおつけします。
      %br/
    .item_btn_container
      .item_btn_container__btn_like
        %span.item_btn_like__icon_heart
          ♡
        %span.item_btn_like__btn_like
          いいね
        %span.item_btn_like__like_num
          46
      .item_btn_container__btn_report
        %span.item_btn_report__icon_flag
          ▷
        %span.item_btn_report__btn_report
          不適切な商品の報告
      .item_btn_container__btn_declaration
        %span.item_btn_declaration__icon_lock
          ◇
        %span.item_btn_declaration__btn_lock
          あんしん・あんぜんへの取り組み
    .nav_item_link
      %span.nav_item_link__icon_left
        ＜
      %span.nav_item_link__left_item
        = link_to 'スウェット裏起毛トレーナー', " ",class:"link"
      %span.nav_item_link__icon_right
        ＞
      %span.nav_item_link__right_item
        = link_to 'ベルト付きワンピース', " ",class:"link"
    .media_box
      %ul.media_box__center
        %li.icon_facebook
          = link_to 'facebook',"https://www.facebook.com/", class: "contents__btn"
        %li.icon_twitter
          \= fa_icon 'twitter'
        %li.icon_line
          \= fa_icon 'instagram'
        %li.icon_pinterest
          \= fa_icon 'instagram'
    .other_item_container
      = link_to 'timothyさんのその他の商品', " ",class:"other_item_title"
      .other_item_content__other_item
      .other_item_container__other_item__price
        ¥4,000
        %span.other_item_container__like_num
          46
