<header>header</header>
<%= image_tag "top-banner-super-exhibition-fes.jpg", class:"top_image" %>
<div class="main_contents">  

  <div class="main_contents__box">
    <%# 人気のカテゴリー %>
    <div class="main_contents__box__header">
      <div class="main_contents__box__header_tittle">
      <h2>人気のカテゴリー</h2>
      </div>
      <div class="main_contents__box__header_category">
        <ul class="main_contents__box__header_category_list">
          <li class="main_contents__box__header_category_list_num">レディース</li>
          <li class="main_contents__box__header_category_list_num">メンズ</li>
          <li class="main_contents__box__header_category_list_num">家電・スマホ・カメラ</li>
          <li class="main_contents__box__header_category_list_num">おもちゃ・ホビー・グッズ</li>          
        </ul>
      </div>
    </div>
    <%# 下記に続く10個の商品説明と、それに関する詳細ページ %>
    <div class="main_contents__box__contents">
      <div class="main_contents__box__contents__title_box"> 
        <div class="main_contents__box__contents__title_box__title">
          <h2>レディース新着アイテム</h2>
        </div>
        <div class="main_contents__box__contents__title_box__motto">
          <%= link_to "もっとみる", "",class:"link" %>
        </div>
      </div>
      
      <%# 商品１０個をまとまルための箱 %>
      <div class="main_contents__box__contents__items">
        <%# 10個のうちの1個 %>
        <div class="main_contents__box__contents__items__one">        
          <img src="/assets/ladies" class="main_contents__box__contents__items__one__image">
            <div class="main_contents__box__contents__items__one__image__price" >￥1,000</div>
          <div class="main_contents__box__contents__items__one__tittle">
            <span >商品タイトル</span>
          </div>
        </div>
        <%# ２個目 %>
        <div class="main_contents__box__contents__items__one">        
          <img src="/assets/ladies" class="main_contents__box__contents__items__one__image">
            <div class="main_contents__box__contents__items__one__image__price" >price</div>
          <div class="main_contents__box__contents__items__one__tittle">
            <span >商品タイトル</span>
          </div>
        </div>
        <%# 3個目 %>
        <div class="main_contents__box__contents__items__one">        
          <img src="/assets/ladies" class="main_contents__box__contents__items__one__image">
            <div class="main_contents__box__contents__items__one__image__price" >price</div>
          <div class="main_contents__box__contents__items__one__tittle">
            <span >商品タイトル</span>
          </div>
        </div>
        <div class="main_contents__box__contents__items__one">        
          <img src="/assets/ladies" class="main_contents__box__contents__items__one__image">
            <div class="main_contents__box__contents__items__one__image__price" >price</div>
          <div class="main_contents__box__contents__items__one__tittle">
            <span >商品タイトル</span>
          </div>
        </div>
        <div class="main_contents__box__contents__items__one">        
          <img src="/assets/ladies" class="main_contents__box__contents__items__one__image">
            <div class="main_contents__box__contents__items__one__image__price" >price</div>
          <div class="main_contents__box__contents__items__one__tittle">
            <span >商品タイトル</span>
          </div>
        </div>
        <div class="main_contents__box__contents__items__one">        
          <img src="/assets/ladies" class="main_contents__box__contents__items__one__image">
            <div class="main_contents__box__contents__items__one__image__price" >price</div>
          <div class="main_contents__box__contents__items__one__tittle">
            <span >商品タイトル</span>
          </div>
        </div>
        <div class="main_contents__box__contents__items__one">        
          <img src="/assets/ladies" class="main_contents__box__contents__items__one__image">
            <div class="main_contents__box__contents__items__one__image__price" >price</div>
          <div class="main_contents__box__contents__items__one__tittle">
            <span >商品タイトル</span>
          </div>
        </div>
        <div class="main_contents__box__contents__items__one">        
          <img src="/assets/ladies" class="main_contents__box__contents__items__one__image">
            <div class="main_contents__box__contents__items__one__image__price" >price</div>
          <div class="main_contents__box__contents__items__one__tittle">
            <span >商品タイトル</span>
          </div>
        </div>
        <div class="main_contents__box__contents__items__one">        
          <img src="/assets/ladies" class="main_contents__box__contents__items__one__image">
            <div class="main_contents__box__contents__items__one__image__price" >price</div>
          <div class="main_contents__box__contents__items__one__tittle">
            <span >商品タイトル</span>
          </div>
        </div>
        <%# 10個目 %>
        <div class="main_contents__box__contents__items__one">        
          <img src="/assets/ladies" class="main_contents__box__contents__items__one__image">
            <div class="main_contents__box__contents__items__one__image__price" >price</div>
          <div class="main_contents__box__contents__items__one__tittle">
            <span >商品タイトル</span>
          </div>
        </div>
      </div>
    </div> 

    <div class="main_contents__box__contents">
      <div class="main_contents__box__contents__title_box"> 
        <div class="main_contents__box__contents__title_box__title">
          <h2>メンズ新着アイテム</h2>
        </div>
        <div class="main_contents__box__contents__title_box__motto">
          <%= link_to "もっとみる", "",class:"link" %>
        </div>
      </div>
      
      <%# 商品１０個をまとまルための箱 %>
      <div class="main_contents__box__contents__items">
        <%# 10個のうちの1個 %>
        <div class="main_contents__box__contents__items__one">        
          <img src="/assets/NIKE-shoes.jpg" class="main_contents__box__contents__items__one__image">
            <div class="main_contents__box__contents__items__one__image__price" >￥1,000</div>
          <div class="main_contents__box__contents__items__one__tittle">
            <span >商品タイトル</span>
          </div>
        </div>
        <%# ２個目 %>
        <div class="main_contents__box__contents__items__one">        
          <img src="/assets/NIKE-shoes.jpg" class="main_contents__box__contents__items__one__image">
            <div class="main_contents__box__contents__items__one__image__price" >price</div>
          <div class="main_contents__box__contents__items__one__tittle">
            <span >商品タイトル</span>
          </div>
        </div>
        <%# 3個目 %>
        <div class="main_contents__box__contents__items__one">        
          <img src="/assets/NIKE-shoes.jpg" class="main_contents__box__contents__items__one__image">
            <div class="main_contents__box__contents__items__one__image__price" >price</div>
          <div class="main_contents__box__contents__items__one__tittle">
            <span >商品タイトル</span>
          </div>
        </div>
        <div class="main_contents__box__contents__items__one">        
          <img src="/assets/NIKE-shoes.jpg" class="main_contents__box__contents__items__one__image">
            <div class="main_contents__box__contents__items__one__image__price" >price</div>
          <div class="main_contents__box__contents__items__one__tittle">
            <span >商品タイトル</span>
          </div>
        </div>
        <div class="main_contents__box__contents__items__one">        
          <img src="/assets/NIKE-shoes.jpg" class="main_contents__box__contents__items__one__image">
            <div class="main_contents__box__contents__items__one__image__price" >price</div>
          <div class="main_contents__box__contents__items__one__tittle">
            <span >商品タイトル</span>
          </div>
        </div>
        <div class="main_contents__box__contents__items__one">        
          <img src="/assets/NIKE-shoes.jpg" class="main_contents__box__contents__items__one__image">
            <div class="main_contents__box__contents__items__one__image__price" >price</div>
          <div class="main_contents__box__contents__items__one__tittle">
            <span >商品タイトル</span>
          </div>
        </div>
        <div class="main_contents__box__contents__items__one">        
          <img src="/assets/NIKE-shoes.jpg" class="main_contents__box__contents__items__one__image">
            <div class="main_contents__box__contents__items__one__image__price" >price</div>
          <div class="main_contents__box__contents__items__one__tittle">
            <span >商品タイトル</span>
          </div>
        </div>
        <div class="main_contents__box__contents__items__one">        
          <img src="/assets/NIKE-shoes.jpg" class="main_contents__box__contents__items__one__image">
            <div class="main_contents__box__contents__items__one__image__price" >price</div>
          <div class="main_contents__box__contents__items__one__tittle">
            <span >商品タイトル</span>
          </div>
        </div>
        <div class="main_contents__box__contents__items__one">        
          <img src="/assets/NIKE-shoes.jpg" class="main_contents__box__contents__items__one__image">
            <div class="main_contents__box__contents__items__one__image__price" >price</div>
          <div class="main_contents__box__contents__items__one__tittle">
            <span >商品タイトル</span>
          </div>
        </div>
        <%# 10個目 %>
        <div class="main_contents__box__contents__items__one">        
          <img src="/assets/NIKE-shoes.jpg" class="main_contents__box__contents__items__one__image">
            <div class="main_contents__box__contents__items__one__image__price" >price</div>
          <div class="main_contents__box__contents__items__one__tittle">
            <span >商品タイトル</span>
          </div>
        </div>
      </div>
    </div> 

    <div class="main_contents__box__contents">
      <div class="main_contents__box__contents__title_box"> 
        <div class="main_contents__box__contents__title_box__title">
          <h2>家電・スマホ・カメラ新着アイテム</h2>
        </div>
        <div class="main_contents__box__contents__title_box__motto">
          <%= link_to "もっとみる", "",class:"link" %>
        </div>
      </div>
      
      <%# 商品１０個をまとまルための箱 %>
      <div class="main_contents__box__contents__items">
        <%# 10個のうちの1個 %>
        <div class="main_contents__box__contents__items__one">        
          <img src="/assets/camera.jpg" class="main_contents__box__contents__items__one__image">
            <div class="main_contents__box__contents__items__one__image__price" >￥1,000</div>
          <div class="main_contents__box__contents__items__one__tittle">
            <span >商品タイトル</span>
          </div>
        </div>
        <%# ２個目 %>
        <div class="main_contents__box__contents__items__one">        
          <img src="/assets/camera.jpg" class="main_contents__box__contents__items__one__image">
            <div class="main_contents__box__contents__items__one__image__price" >price</div>
          <div class="main_contents__box__contents__items__one__tittle">
            <span >商品タイトル</span>
          </div>
        </div>
        <%# 3個目 %>
        <div class="main_contents__box__contents__items__one">        
          <img src="/assets/camera.jpg" class="main_contents__box__contents__items__one__image">
            <div class="main_contents__box__contents__items__one__image__price" >price</div>
          <div class="main_contents__box__contents__items__one__tittle">
            <span >商品タイトル</span>
          </div>
        </div>
        <div class="main_contents__box__contents__items__one">        
          <img src="/assets/camera.jpg" class="main_contents__box__contents__items__one__image">
            <div class="main_contents__box__contents__items__one__image__price" >price</div>
          <div class="main_contents__box__contents__items__one__tittle">
            <span >商品タイトル</span>
          </div>
        </div>
        <div class="main_contents__box__contents__items__one">        
          <img src="/assets/camera.jpg" class="main_contents__box__contents__items__one__image">
            <div class="main_contents__box__contents__items__one__image__price" >price</div>
          <div class="main_contents__box__contents__items__one__tittle">
            <span >商品タイトル</span>
          </div>
        </div>
        <div class="main_contents__box__contents__items__one">        
          <img src="/assets/camera.jpg" class="main_contents__box__contents__items__one__image">
            <div class="main_contents__box__contents__items__one__image__price" >price</div>
          <div class="main_contents__box__contents__items__one__tittle">
            <span >商品タイトル</span>
          </div>
        </div>
        <div class="main_contents__box__contents__items__one">        
          <img src="/assets/camera.jpg" class="main_contents__box__contents__items__one__image">
            <div class="main_contents__box__contents__items__one__image__price" >price</div>
          <div class="main_contents__box__contents__items__one__tittle">
            <span >商品タイトル</span>
          </div>
        </div>
        <div class="main_contents__box__contents__items__one">        
          <img src="/assets/camera.jpg" class="main_contents__box__contents__items__one__image">
            <div class="main_contents__box__contents__items__one__image__price" >price</div>
          <div class="main_contents__box__contents__items__one__tittle">
            <span >商品タイトル</span>
          </div>
        </div>
        <div class="main_contents__box__contents__items__one">        
          <img src="/assets/camera.jpg" class="main_contents__box__contents__items__one__image">
            <div class="main_contents__box__contents__items__one__image__price" >price</div>
          <div class="main_contents__box__contents__items__one__tittle">
            <span >商品タイトル</span>
          </div>
        </div>
        <%# 10個目 %>
        <div class="main_contents__box__contents__items__one">        
          <img src="/assets/camera.jpg" class="main_contents__box__contents__items__one__image">
            <div class="main_contents__box__contents__items__one__image__price" >price</div>
          <div class="main_contents__box__contents__items__one__tittle">
            <span >商品タイトル</span>
          </div>
        </div>
      </div>
    </div> 
    
    <div class="main_contents__box__contents">
      <div class="main_contents__box__contents__title_box"> 
        <div class="main_contents__box__contents__title_box__title">
          <h2>おもちゃ・ホビー・グッズ新着アイテム</h2>
        </div>
        <div class="main_contents__box__contents__title_box__motto">
          <%= link_to "もっとみる", "",class:"link" %>
        </div>
      </div>
      
      <%# 商品１０個をまとまルための箱 %>
      <div class="main_contents__box__contents__items">
        <%# 10個のうちの1個 %>
        <div class="main_contents__box__contents__items__one">        
          <img src="/assets/kabigon.jpg" class="main_contents__box__contents__items__one__image">
            <div class="main_contents__box__contents__items__one__image__price" >￥1,000</div>
          <div class="main_contents__box__contents__items__one__tittle">
            <span >商品タイトル</span>
          </div>
        </div>
        <%# ２個目 %>
        <div class="main_contents__box__contents__items__one">        
          <img src="/assets/kabigon.jpg" class="main_contents__box__contents__items__one__image">
            <div class="main_contents__box__contents__items__one__image__price" >price</div>
          <div class="main_contents__box__contents__items__one__tittle">
            <span >商品タイトル</span>
          </div>
        </div>
        <%# 3個目 %>
        <div class="main_contents__box__contents__items__one">        
          <img src="/assets/kabigon.jpg" class="main_contents__box__contents__items__one__image">
            <div class="main_contents__box__contents__items__one__image__price" >price</div>
          <div class="main_contents__box__contents__items__one__tittle">
            <span >商品タイトル</span>
          </div>
        </div>
        <div class="main_contents__box__contents__items__one">        
          <img src="/assets/kabigon.jpg" class="main_contents__box__contents__items__one__image">
            <div class="main_contents__box__contents__items__one__image__price" >price</div>
          <div class="main_contents__box__contents__items__one__tittle">
            <span >商品タイトル</span>
          </div>
        </div>
        <div class="main_contents__box__contents__items__one">        
          <img src="/assets/kabigon.jpg" class="main_contents__box__contents__items__one__image">
            <div class="main_contents__box__contents__items__one__image__price" >price</div>
          <div class="main_contents__box__contents__items__one__tittle">
            <span >商品タイトル</span>
          </div>
        </div>
        <div class="main_contents__box__contents__items__one">        
          <img src="/assets/kabigon.jpg" class="main_contents__box__contents__items__one__image">
            <div class="main_contents__box__contents__items__one__image__price" >price</div>
          <div class="main_contents__box__contents__items__one__tittle">
            <span >商品タイトル</span>
          </div>
        </div>
        <div class="main_contents__box__contents__items__one">        
          <img src="/assets/kabigon.jpg" class="main_contents__box__contents__items__one__image">
            <div class="main_contents__box__contents__items__one__image__price" >price</div>
          <div class="main_contents__box__contents__items__one__tittle">
            <span >商品タイトル</span>
          </div>
        </div>
        <div class="main_contents__box__contents__items__one">        
          <img src="/assets/kabigon.jpg" class="main_contents__box__contents__items__one__image">
            <div class="main_contents__box__contents__items__one__image__price" >price</div>
          <div class="main_contents__box__contents__items__one__tittle">
            <span >商品タイトル</span>
          </div>
        </div>
        <div class="main_contents__box__contents__items__one">        
          <img src="/assets/kabigon.jpg" class="main_contents__box__contents__items__one__image">
            <div class="main_contents__box__contents__items__one__image__price" >price</div>
          <div class="main_contents__box__contents__items__one__tittle">
            <span >商品タイトル</span>
          </div>
        </div>
        <%# 10個目 %>
        <div class="main_contents__box__contents__items__one">        
          <img src="/assets/kabigon.jpg" class="main_contents__box__contents__items__one__image">
            <div class="main_contents__box__contents__items__one__image__price" >price</div>
          <div class="main_contents__box__contents__items__one__tittle">
            <span >商品タイトル</span>
          </div>
        </div>
      </div>
    </div>  
  </div>
  
  
  <%# ここから２段目 ブランドに焦点がいく%>
  <div class="main_contents__box">
    <%# 人気のブランド %>
    <div class="main_contents__box__header">
      <div class="main_contents__box__header_tittle">
      <h2>人気のブランド</h2>
      </div>
      <div class="main_contents__box__header_category">
        <ul class="main_contents__box__header_category_list">
          <li class="main_contents__box__header_category_list_num">シャネル</li>
          <li class="main_contents__box__header_category_list_num">ルイヴィトン</li>
          <li class="main_contents__box__header_category_list_num">シュプリーム</li>
          <li class="main_contents__box__header_category_list_num">ナイキ</li>          
        </ul>
      </div>
    </div>
    <%# 下記に続く10個の商品説明と、それに関する詳細ページ %>
    <div class="main_contents__box__contents">
      <div class="main_contents__box__contents__title_box"> 
        <div class="main_contents__box__contents__title_box__title">
          <h2>シャネル新着アイテム</h2>
        </div>
        <div class="main_contents__box__contents__title_box__motto">
          <%= link_to "もっとみる", "",class:"link" %>
        </div>
      </div>
      
      <%# 商品１０個をまとまルための箱 %>
      <div class="main_contents__box__contents__items">
        <%# 10個のうちの1個 %>
        <div class="main_contents__box__contents__items__one">        
          <img src="/assets/シャネル" class="main_contents__box__contents__items__one__image">
            <div class="main_contents__box__contents__items__one__image__price" >￥1,000</div>
          <div class="main_contents__box__contents__items__one__tittle">
            <span >商品タイトル</span>
          </div>シャネル   </div>
        <%# ２個目 %>
        <div class="main_contents__box__contents__items__one">        
          <img src="/assets/シャネル" class="main_contents__box__contents__items__one__image">
            <div class="main_contents__box__contents__items__one__image__price" >price</div>
          <div class="main_contents__box__contents__items__one__tittle">
            <span >商品タイトル</span>
          </div>
        </div>
        <%# 3個目 %>
        <div class="main_contents__box__contents__items__one">        
          <img src="/assets/シャネル" class="main_contents__box__contents__items__one__image">
            <div class="main_contents__box__contents__items__one__image__price" >price</div>
          <div class="main_contents__box__contents__items__one__tittle">
            <span >商品タイトル</span>
          </div>
        </div>
        <div class="main_contents__box__contents__items__one">        
          <img src="/assets/シャネル" class="main_contents__box__contents__items__one__image">
            <div class="main_contents__box__contents__items__one__image__price" >price</div>
          <div class="main_contents__box__contents__items__one__tittle">
            <span >商品タイトル</span>
          </div>
        </div>
        <div class="main_contents__box__contents__items__one">        
          <img src="/assets/シャネル" class="main_contents__box__contents__items__one__image">
            <div class="main_contents__box__contents__items__one__image__price" >price</div>
          <div class="main_contents__box__contents__items__one__tittle">
            <span >商品タイトル</span>
          </div>
        </div>
        <div class="main_contents__box__contents__items__one">        
          <img src="/assets/シャネル" class="main_contents__box__contents__items__one__image">
            <div class="main_contents__box__contents__items__one__image__price" >price</div>
          <div class="main_contents__box__contents__items__one__tittle">
            <span >商品タイトル</span>
          </div>
        </div>
        <div class="main_contents__box__contents__items__one">        
          <img src="/assets/シャネル" class="main_contents__box__contents__items__one__image">
            <div class="main_contents__box__contents__items__one__image__price" >price</div>
          <div class="main_contents__box__contents__items__one__tittle">
            <span >商品タイトル</span>
          </div>
        </div>
        <div class="main_contents__box__contents__items__one">        
          <img src="/assets/シャネル" class="main_contents__box__contents__items__one__image">
            <div class="main_contents__box__contents__items__one__image__price" >price</div>
          <div class="main_contents__box__contents__items__one__tittle">
            <span >商品タイトル</span>
          </div>
        </div>
        <div class="main_contents__box__contents__items__one">        
          <img src="/assets/シャネル" class="main_contents__box__contents__items__one__image">
            <div class="main_contents__box__contents__items__one__image__price" >price</div>
          <div class="main_contents__box__contents__items__one__tittle">
            <span >商品タイトル</span>
          </div>
        </div>
        <%# 10個目 %>
        <div class="main_contents__box__contents__items__one">        
          <img src="/assets/シャネル" class="main_contents__box__contents__items__one__image">
            <div class="main_contents__box__contents__items__one__image__price" >price</div>
          <div class="main_contents__box__contents__items__one__tittle">
            <span >商品タイトル</span>
          </div>
        </div>
      </div>
    </div> 

    <div class="main_contents__box__contents">
      <div class="main_contents__box__contents__title_box"> 
        <div class="main_contents__box__contents__title_box__title">
          <h2>ルイヴィトン新着アイテム</h2>
        </div>
        <div class="main_contents__box__contents__title_box__motto">
          <%= link_to "もっとみる", "",class:"link" %>
        </div>
      </div>
      
      <%# 商品１０個をまとまルための箱 %>
      <div class="main_contents__box__contents__items">
        <%# 10個のうちの1個 %>
        <div class="main_contents__box__contents__items__one">        
          <img src="/assets/ルイヴィトン" class="main_contents__box__contents__items__one__image">
            <div class="main_contents__box__contents__items__one__image__price" >￥1,000</div>
          <div class="main_contents__box__contents__items__one__tittle">
            <span >商品タイトル</span>
          </div>
        </div>
        <%# ２個目 %>
        <div class="main_contents__box__contents__items__one">        
          <img src="/assets/ルイヴィトン" class="main_contents__box__contents__items__one__image">
            <div class="main_contents__box__contents__items__one__image__price" >price</div>
          <div class="main_contents__box__contents__items__one__tittle">
            <span >商品タイトル</span>
          </div>
        </div>
        <%# 3個目 %>
        <div class="main_contents__box__contents__items__one">        
          <img src="/assets/ルイヴィトン" class="main_contents__box__contents__items__one__image">
            <div class="main_contents__box__contents__items__one__image__price" >price</div>
          <div class="main_contents__box__contents__items__one__tittle">
            <span >商品タイトル</span>
          </div>
        </div>
        <div class="main_contents__box__contents__items__one">        
          <img src="/assets/ルイヴィトン" class="main_contents__box__contents__items__one__image">
            <div class="main_contents__box__contents__items__one__image__price" >price</div>
          <div class="main_contents__box__contents__items__one__tittle">
            <span >商品タイトル</span>
          </div>
        </div>
        <div class="main_contents__box__contents__items__one">        
          <img src="/assets/ルイヴィトン" class="main_contents__box__contents__items__one__image">
            <div class="main_contents__box__contents__items__one__image__price" >price</div>
          <div class="main_contents__box__contents__items__one__tittle">
            <span >商品タイトル</span>
          </div>
        </div>
        <div class="main_contents__box__contents__items__one">        
          <img src="/assets/ルイヴィトン" class="main_contents__box__contents__items__one__image">
            <div class="main_contents__box__contents__items__one__image__price" >price</div>
          <div class="main_contents__box__contents__items__one__tittle">
            <span >商品タイトル</span>
          </div>
        </div>
        <div class="main_contents__box__contents__items__one">        
          <img src="/assets/ルイヴィトン" class="main_contents__box__contents__items__one__image">
            <div class="main_contents__box__contents__items__one__image__price" >price</div>
          <div class="main_contents__box__contents__items__one__tittle">
            <span >商品タイトル</span>
          </div>
        </div>
        <div class="main_contents__box__contents__items__one">        
          <img src="/assets/ルイヴィトン" class="main_contents__box__contents__items__one__image">
            <div class="main_contents__box__contents__items__one__image__price" >price</div>
          <div class="main_contents__box__contents__items__one__tittle">
            <span >商品タイトル</span>
          </div>
        </div>
        <div class="main_contents__box__contents__items__one">        
          <img src="/assets/ルイヴィトン" class="main_contents__box__contents__items__one__image">
            <div class="main_contents__box__contents__items__one__image__price" >price</div>
          <div class="main_contents__box__contents__items__one__tittle">
            <span >商品タイトル</span>
          </div>
        </div>
        <%# 10個目 %>
        <div class="main_contents__box__contents__items__one">        
          <img src="/assets/ルイヴィトン" class="main_contents__box__contents__items__one__image">
            <div class="main_contents__box__contents__items__one__image__price" >price</div>
          <div class="main_contents__box__contents__items__one__tittle">
            <span >商品タイトル</span>
          </div>
        </div>
      </div>
    </div> 

    <div class="main_contents__box__contents">
      <div class="main_contents__box__contents__title_box"> 
        <div class="main_contents__box__contents__title_box__title">
          <h2>シュプリーム新着アイテム</h2>
        </div>
        <div class="main_contents__box__contents__title_box__motto">
          <%= link_to "もっとみる", "",class:"link" %>
        </div>
      </div>
      
      <%# 商品１０個をまとまルための箱 %>
      <div class="main_contents__box__contents__items">
        <%# 10個のうちの1個 %>
        <div class="main_contents__box__contents__items__one">        
          <img src="/assets/supreme" class="main_contents__box__contents__items__one__image">
            <div class="main_contents__box__contents__items__one__image__price" >￥1,000</div>
          <div class="main_contents__box__contents__items__one__tittle">
            <span >商品タイトル</span>
          </div>
        </div>
        <%# ２個目 %>
        <div class="main_contents__box__contents__items__one">        
          <img src="/assets/supreme" class="main_contents__box__contents__items__one__image">
            <div class="main_contents__box__contents__items__one__image__price" >price</div>
          <div class="main_contents__box__contents__items__one__tittle">
            <span >商品タイトル</span>
          </div>
        </div>
        <%# 3個目 %>
        <div class="main_contents__box__contents__items__one">        
          <img src="/assets/supreme" class="main_contents__box__contents__items__one__image">
            <div class="main_contents__box__contents__items__one__image__price" >price</div>
          <div class="main_contents__box__contents__items__one__tittle">
            <span >商品タイトル</span>
          </div>
        </div>
        <div class="main_contents__box__contents__items__one">        
          <img src="/assets/supreme" class="main_contents__box__contents__items__one__image">
            <div class="main_contents__box__contents__items__one__image__price" >price</div>
          <div class="main_contents__box__contents__items__one__tittle">
            <span >商品タイトル</span>
          </div>
        </div>
        <div class="main_contents__box__contents__items__one">        
          <img src="/assets/supreme" class="main_contents__box__contents__items__one__image">
            <div class="main_contents__box__contents__items__one__image__price" >price</div>
          <div class="main_contents__box__contents__items__one__tittle">
            <span >商品タイトル</span>
          </div>
        </div>
        <div class="main_contents__box__contents__items__one">        
          <img src="/assets/supreme" class="main_contents__box__contents__items__one__image">
            <div class="main_contents__box__contents__items__one__image__price" >price</div>
          <div class="main_contents__box__contents__items__one__tittle">
            <span >商品タイトル</span>
          </div>
        </div>
        <div class="main_contents__box__contents__items__one">        
          <img src="/assets/supreme" class="main_contents__box__contents__items__one__image">
            <div class="main_contents__box__contents__items__one__image__price" >price</div>
          <div class="main_contents__box__contents__items__one__tittle">
            <span >商品タイトル</span>
          </div>
        </div>
        <div class="main_contents__box__contents__items__one">        
          <img src="/assets/supreme" class="main_contents__box__contents__items__one__image">
            <div class="main_contents__box__contents__items__one__image__price" >price</div>
          <div class="main_contents__box__contents__items__one__tittle">
            <span >商品タイトル</span>
          </div>
        </div>
        <div class="main_contents__box__contents__items__one">        
          <img src="/assets/supreme" class="main_contents__box__contents__items__one__image">
            <div class="main_contents__box__contents__items__one__image__price" >price</div>
          <div class="main_contents__box__contents__items__one__tittle">
            <span >商品タイトル</span>
          </div>
        </div>
        <%# 10個目 %>
        <div class="main_contents__box__contents__items__one">        
          <img src="/assets/supreme" class="main_contents__box__contents__items__one__image">
            <div class="main_contents__box__contents__items__one__image__price" >price</div>
          <div class="main_contents__box__contents__items__one__tittle">
            <span >商品タイトル</span>
          </div>
        </div>
      </div>
    </div> 
    
    <div class="main_contents__box__contents">
      <div class="main_contents__box__contents__title_box"> 
        <div class="main_contents__box__contents__title_box__title">
          <h2>ナイキ新着アイテム</h2>
        </div>
        <div class="main_contents__box__contents__title_box__motto">
          <%= link_to "もっとみる", "",class:"link" %>
        </div>
      </div>
      
      <%# 商品１０個をまとまルための箱 %>
      <div class="main_contents__box__contents__items">
        <%# 10個のうちの1個 %>
        <div class="main_contents__box__contents__items__one">        
          <img src="/assets/NIKI" class="main_contents__box__contents__items__one__image">
            <div class="main_contents__box__contents__items__one__image__price" >￥1,000</div>
          <div class="main_contents__box__contents__items__one__tittle">
            <span >商品タイトル</span>
          </div>
        </div>
        <%# ２個目 %>
        <div class="main_contents__box__contents__items__one">        
          <img src="/assets/NIKI" class="main_contents__box__contents__items__one__image">
            <div class="main_contents__box__contents__items__one__image__price" >price</div>
          <div class="main_contents__box__contents__items__one__tittle">
            <span >商品タイトル</span>
          </div>
        </div>
        <%# 3個目 %>
        <div class="main_contents__box__contents__items__one">        
          <img src="/assets/NIKI" class="main_contents__box__contents__items__one__image">
            <div class="main_contents__box__contents__items__one__image__price" >price</div>
          <div class="main_contents__box__contents__items__one__tittle">
            <span >商品タイトル</span>
          </div>
        </div>
        <div class="main_contents__box__contents__items__one">        
          <img src="/assets/NIKI" class="main_contents__box__contents__items__one__image">
            <div class="main_contents__box__contents__items__one__image__price" >price</div>
          <div class="main_contents__box__contents__items__one__tittle">
            <span >商品タイトル</span>
          </div>
        </div>
        <div class="main_contents__box__contents__items__one">        
          <img src="/assets/NIKI" class="main_contents__box__contents__items__one__image">
            <div class="main_contents__box__contents__items__one__image__price" >price</div>
          <div class="main_contents__box__contents__items__one__tittle">
            <span >商品タイトル</span>
          </div>
        </div>
        <div class="main_contents__box__contents__items__one">        
          <img src="/assets/NIKI" class="main_contents__box__contents__items__one__image">
            <div class="main_contents__box__contents__items__one__image__price" >price</div>
          <div class="main_contents__box__contents__items__one__tittle">
            <span >商品タイトル</span>
          </div>
        </div>
        <div class="main_contents__box__contents__items__one">        
          <img src="/assets/NIKI" class="main_contents__box__contents__items__one__image">
            <div class="main_contents__box__contents__items__one__image__price" >price</div>
          <div class="main_contents__box__contents__items__one__tittle">
            <span >商品タイトル</span>
          </div>
        </div>
        <div class="main_contents__box__contents__items__one">        
          <img src="/assets/NIKI" class="main_contents__box__contents__items__one__image">
            <div class="main_contents__box__contents__items__one__image__price" >price</div>
          <div class="main_contents__box__contents__items__one__tittle">
            <span >商品タイトル</span>
          </div>
        </div>
        <div class="main_contents__box__contents__items__one">        
          <img src="/assets/kabigon.jpg" class="main_contents__box__contents__items__one__image">
            <div class="main_contents__box__contents__items__one__image__price" >price</div>
          <div class="main_contents__box__contents__items__one__tittle">
            <span >商品タイトル</span>
          </div>
        </div>
        <%# 10個目 %>
        <div class="main_contents__box__contents__items__one">        
          <img src="/assets/NIKI" class="main_contents__box__contents__items__one__image">
            <div class="main_contents__box__contents__items__one__image__price" >price</div>
          <div class="main_contents__box__contents__items__one__tittle">
            <span >商品タイトル</span>
          </div>
        </div>
      </div>
    </div>  
  </div>

</div>



<footer></footer>
