%img.main_contents__img{:src => "/assets/top-img1.jpg"}/
.main_contents
  .main_contents__box
    .main_contents__box__header
      .main_contents__box__header_tittle
        %h2 人気のカテゴリー
      .main_contents__box__header_category
        %ul.main_contents__box__header_category_list
          %li.main_contents__box__header_category_list_num レディース
          %li.main_contents__box__header_category_list_num メンズ
          %li.main_contents__box__header_category_list_num 家電・スマホ・カメラ
          %li.main_contents__box__header_category_list_num おもちゃ・ホビー・グッズ
    .main_contents__box__contents
      .main_contents__box__contents__title_box
        .main_contents__box__contents__title_box__title
          %h2 レディース新着アイテム
        .main_contents__box__contents__title_box__motto
          = link_to "もっとみる", "",class:"link"
      .main_contents__box__contents__items
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => "/assets/ladies"}/
          .main_contents__box__contents__items__one__image__price ￥1,000
          .main_contents__box__contents__items__one__tittle
            %span= link_to "商品タイトル", "item_path", method: :get
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => "/assets/ladies"}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => "/assets/ladies"}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => "/assets/ladies"}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => "/assets/ladies"}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => "/assets/ladies"}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => "/assets/ladies"}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => "/assets/ladies"}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => "/assets/ladies"}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => "/assets/ladies"}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
    .main_contents__box__contents
      .main_contents__box__contents__title_box
        .main_contents__box__contents__title_box__title
          %h2 メンズ新着アイテム
        .main_contents__box__contents__title_box__motto
          = link_to "もっとみる", "",class:"link"
      .main_contents__box__contents__items
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => "/assets/NIKE-shoes.jpg"}/
          .main_contents__box__contents__items__one__image__price ￥1,000
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => "/assets/NIKE-shoes.jpg"}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => "/assets/NIKE-shoes.jpg"}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => "/assets/NIKE-shoes.jpg"}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => "/assets/NIKE-shoes.jpg"}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => "/assets/NIKE-shoes.jpg"}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => "/assets/NIKE-shoes.jpg"}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => "/assets/NIKE-shoes.jpg"}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => "/assets/NIKE-shoes.jpg"}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => "/assets/NIKE-shoes.jpg"}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
    .main_contents__box__contents
      .main_contents__box__contents__title_box
        .main_contents__box__contents__title_box__title
          %h2 家電・スマホ・カメラ新着アイテム
        .main_contents__box__contents__title_box__motto
          = link_to "もっとみる", "",class:"link"
      .main_contents__box__contents__items
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => "/assets/camera.jpg"}/
          .main_contents__box__contents__items__one__image__price ￥1,000
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => "/assets/camera.jpg"}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => "/assets/camera.jpg"}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => "/assets/camera.jpg"}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => "/assets/camera.jpg"}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => "/assets/camera.jpg"}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => "/assets/camera.jpg"}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => "/assets/camera.jpg"}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => "/assets/camera.jpg"}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => "/assets/camera.jpg"}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
    .main_contents__box__contents
      .main_contents__box__contents__title_box
        .main_contents__box__contents__title_box__title
          %h2 おもちゃ・ホビー・グッズ新着アイテム
        .main_contents__box__contents__title_box__motto
          = link_to "もっとみる", "",class:"link"
      .main_contents__box__contents__items
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => "/assets/kabigon.jpg"}/
          .main_contents__box__contents__items__one__image__price ￥1,000
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => "/assets/kabigon.jpg"}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => "/assets/kabigon.jpg"}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => "/assets/kabigon.jpg"}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => "/assets/kabigon.jpg"}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => "/assets/kabigon.jpg"}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => "/assets/kabigon.jpg"}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => "/assets/kabigon.jpg"}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => "/assets/kabigon.jpg"}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => "/assets/kabigon.jpg"}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
  .main_contents__box
    .main_contents__box__header
      .main_contents__box__header_tittle
        %h2 人気のブランド
      .main_contents__box__header_category
        %ul.main_contents__box__header_category_list
          %li.main_contents__box__header_category_list_num シャネル
          %li.main_contents__box__header_category_list_num ルイヴィトン
          %li.main_contents__box__header_category_list_num シュプリーム
          %li.main_contents__box__header_category_list_num ナイキ
    .main_contents__box__contents
      .main_contents__box__contents__title_box
        .main_contents__box__contents__title_box__title
          %h2 シャネル新着アイテム
        .main_contents__box__contents__title_box__motto
          = link_to "もっとみる", "",class:"link"
      .main_contents__box__contents__items
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => "/assets/シャネル"}/
          .main_contents__box__contents__items__one__image__price ￥1,000
          = succeed "\u30B7\u30E3\u30CD\u30EB" do
            .main_contents__box__contents__items__one__tittle
              %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => "/assets/シャネル"}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => "/assets/シャネル"}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => "/assets/シャネル"}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => "/assets/シャネル"}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => "/assets/シャネル"}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => "/assets/シャネル"}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => "/assets/シャネル"}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => "/assets/シャネル"}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => "/assets/シャネル"}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
    .main_contents__box__contents
      .main_contents__box__contents__title_box
        .main_contents__box__contents__title_box__title
          %h2 ルイヴィトン新着アイテム
        .main_contents__box__contents__title_box__motto
          = link_to "もっとみる", "",class:"link"
      .main_contents__box__contents__items
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => "/assets/ルイヴィトン"}/
          .main_contents__box__contents__items__one__image__price ￥1,000
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => "/assets/ルイヴィトン"}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => "/assets/ルイヴィトン"}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => "/assets/ルイヴィトン"}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => "/assets/ルイヴィトン"}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => "/assets/ルイヴィトン"}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => "/assets/ルイヴィトン"}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => "/assets/ルイヴィトン"}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => "/assets/ルイヴィトン"}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => "/assets/ルイヴィトン"}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
    .main_contents__box__contents
      .main_contents__box__contents__title_box
        .main_contents__box__contents__title_box__title
          %h2 シュプリーム新着アイテム
        .main_contents__box__contents__title_box__motto
          = link_to "もっとみる", "",class:"link"
      .main_contents__box__contents__items
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => "/assets/supreme"}/
          .main_contents__box__contents__items__one__image__price ￥1,000
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => "/assets/supreme"}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => "/assets/supreme"}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => "/assets/supreme"}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => "/assets/supreme"}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => "/assets/supreme"}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => "/assets/supreme"}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => "/assets/supreme"}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => "/assets/supreme"}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => "/assets/supreme"}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
    .main_contents__box__contents
      .main_contents__box__contents__title_box
        .main_contents__box__contents__title_box__title
          %h2 ナイキ新着アイテム
        .main_contents__box__contents__title_box__motto
          = link_to "もっとみる", "",class:"link"
      .main_contents__box__contents__items
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => "/assets/NIKI"}/
          .main_contents__box__contents__items__one__image__price ￥1,000
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => "/assets/NIKI"}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => "/assets/NIKI"}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => "/assets/NIKI"}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => "/assets/NIKI"}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => "/assets/NIKI"}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => "/assets/NIKI"}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => "/assets/NIKI"}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => "/assets/kabigon.jpg"}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => "/assets/NIKI"}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル

.exhibit__btn
  = link_to "出品",root_path ,class: "exhibit__btn__name"
  %i.exhibit__btn__icon.fa.fa-camera


%footer
