%img.main_contents__img{src: "/assets/top_img1.jpg"}/
.main_contents
  .main_contents__box
    .main_contents__box__header
      .main_contents__box__header_tittle
        %h2 人気のカテゴリー
      .main_contents__box__header_category
        %ul.main_contents__box__header_category_list
          %li.main_contents__box__header_category_list_num
            %a{href: "#1"}レディース
          %li.main_contents__box__header_category_list_num 
            %a{href: "#2"}メンズ
          %li.main_contents__box__header_category_list_num
            %a{href: "#3"}家電・スマホ・カメラ
          %li.main_contents__box__header_category_list_num 
            %a{href: "#4"}おもちゃ・ホビー・グッズ
    .main_contents__box__contents
      .main_contents__box__contents__title_box
        .main_contents__box__contents__title_box__title
          %h2#1 レディース新着アイテム
        .main_contents__box__contents__title_box__motto
          = link_to "もっとみる", "",class:"link"
      .main_contents__box__contents__items
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => ""}/
          .main_contents__box__contents__items__one__image__price ￥1,000
          .main_contents__box__contents__items__one__tittle
            %span= link_to "商品タイトル", "/detail", method: :get
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => ""}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => ""}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => ""}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => ""}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => ""}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => ""}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => ""}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => ""}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => ""}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
    .main_contents__box__contents
      .main_contents__box__contents__title_box
        .main_contents__box__contents__title_box__title
          %h2#2 メンズ新着アイテム
        .main_contents__box__contents__title_box__motto
          = link_to "もっとみる", "",class:"link"
      .main_contents__box__contents__items
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => ""}/
          .main_contents__box__contents__items__one__image__price ￥1,000
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => ""}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => ""}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => ""}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => ""}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => ""}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => ""}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => ""}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => ""}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => ""}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
    .main_contents__box__contents
      .main_contents__box__contents__title_box
        .main_contents__box__contents__title_box__title
          %h2#3 家電・スマホ・カメラ新着アイテム
        .main_contents__box__contents__title_box__motto
          = link_to "もっとみる", "",class:"link"
      .main_contents__box__contents__items
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => ""}/
          .main_contents__box__contents__items__one__image__price ￥1,000
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => ""}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => ""}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => ""}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => ""}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => ""}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => ""}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => ""}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => ""}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => ""}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
    .main_contents__box__contents
      .main_contents__box__contents__title_box
        .main_contents__box__contents__title_box__title
          %h2#4 おもちゃ・ホビー・グッズ新着アイテム
        .main_contents__box__contents__title_box__motto
          = link_to "もっとみる", "",class:"link"
      .main_contents__box__contents__items
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => ""}/
          .main_contents__box__contents__items__one__image__price ￥1,000
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => ""}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => ""}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => ""}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => ""}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => ""}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => ""}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => ""}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => ""}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => ""}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
  .main_contents__box
    .main_contents__box__header
      .main_contents__box__header_tittle
        %h2 人気のブランド
      .main_contents__box__header_category
        %ul.main_contents__box__header_category_list
          %li.main_contents__box__header_category_list_num
            %a{href: "#5"} シャネル
          %li.main_contents__box__header_category_list_num
            %a{href: "#6"} ルイヴィトン
          %li.main_contents__box__header_category_list_num 
            %a{href: "#7"}シュプリーム
          %li.main_contents__box__header_category_list_num
            %a{href: "#8"}ナイキ
    .main_contents__box__contents
      .main_contents__box__contents__title_box
        .main_contents__box__contents__title_box__title
          %h2#5 シャネル新着アイテム
        .main_contents__box__contents__title_box__motto
          = link_to "もっとみる", "",class:"link"
      .main_contents__box__contents__items
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => ""}/
          .main_contents__box__contents__items__one__image__price ￥1,000
          = succeed "\u30B7\u30E3\u30CD\u30EB" do
            .main_contents__box__contents__items__one__tittle
              %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => ""}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => ""}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => ""}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => ""}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => ""}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => ""}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => ""}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => ""}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => ""}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
    .main_contents__box__contents
      .main_contents__box__contents__title_box
        .main_contents__box__contents__title_box__title
          %h2#6 ルイヴィトン新着アイテム
        .main_contents__box__contents__title_box__motto
          = link_to "もっとみる", "",class:"link"
      .main_contents__box__contents__items
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => ""}/
          .main_contents__box__contents__items__one__image__price ￥1,000
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => ""}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => ""}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => ""}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => ""}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => ""}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => ""}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => ""}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => ""}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => ""}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
    .main_contents__box__contents
      .main_contents__box__contents__title_box
        .main_contents__box__contents__title_box__title
          %h2#7 シュプリーム新着アイテム
        .main_contents__box__contents__title_box__motto
          = link_to "もっとみる", "",class:"link"
      .main_contents__box__contents__items
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => ""}/
          .main_contents__box__contents__items__one__image__price ￥1,000
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => ""}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => ""}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => ""}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => ""}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => ""}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => ""}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => ""}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => ""}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => ""}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
    .main_contents__box__contents
      .main_contents__box__contents__title_box
        .main_contents__box__contents__title_box__title
          %h2#8 ナイキ新着アイテム
        .main_contents__box__contents__title_box__motto
          = link_to "もっとみる", "",class:"link"
      .main_contents__box__contents__items
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => ""}/
          .main_contents__box__contents__items__one__image__price ￥1,000
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => ""}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => ""}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => ""}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => ""}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => ""}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => ""}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => ""}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => ""}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル
        .main_contents__box__contents__items__one
          %img.main_contents__box__contents__items__one__image{:src => ""}/
          .main_contents__box__contents__items__one__image__price price
          .main_contents__box__contents__items__one__tittle
            %span 商品タイトル

.exhibit__btn
  = link_to "出品","/exhibit" ,class: "exhibit__btn__name"
  %i.exhibit__btn__icon.fa.fa-camera


%footer
