= render "header"

.main_contents
  .main_contents__box
    .main_contents__box__contents
      .main_contents__box__contents__title_box
        .main_contents__box__contents__title_box__title
          %h2#1
            = "#{@category.name}新着アイテム"
      .main_contents__box__contents__items
        - @items.zip(@trade).each do |item,trade|
          .main_contents__box__contents__items__one
            - if trade.sale_state == "trade"
              .sold_item
                %p SOLD
              %img.main_contents__box__contents__items__one__image{:src => ""}/
            -else
              %img.main_contents__box__contents__items__one__image{:src => ""}/
            .main_contents__box__contents__items__one__image__price
              = "¥#{item.price}"
            .main_contents__box__contents__items__one__title
              %span
                = link_to "/items/#{item.id}", method: :get do
                  = item.item_name

= render "footer"