= render "header"

.main_contents
  .main_contents__box
    .main_contents__box__contents__search
      .main_contents__box__contents__search__left
        = search_form_for @q, url: search_more_items_path do |f|
          .search__list
            %h3 詳細検索
            .search__list__detail
              = f.label :item_name_or_description, "キーワードを追加する"
              = f.search_field :item_name_or_description_cont, class: "search-more-default"

            .search__list__detail
              = f.label :category_index, "カテゴリーを選択する"
              = f.collection_select :category_index_in, Category.where(ancestry:nil), :id, :name, include_blank: "---"

            .search__list__detail
              = f.label :price, "価格"
              .search__list__detail__price
                = f.number_field :price_gteq, placeholder:"￥Min", class: "price-select"
                %span ~
                = f.number_field :price_lt, placeholder:"￥Max", class: "price-select"

            .search__list__detail
              = f.label :state, "商品の状態"
              .search__list__detail__state_box
                .search__list__detail__state_box__one
                  = f.radio_button :state_eq,  '', {:checked => true}
                  %span すべて
                .search__list__detail__state_box__one
                  = f.radio_button :state_eq, '新品、未使用'
                  %span 新品、未使用
                .search__list__detail__state_box__one
                  = f.radio_button :state_eq, '未使用に近い'
                  %span 未使用に近い
                .search__list__detail__state_box__one
                  = f.radio_button :state_eq, '目立った傷や汚れなし'
                  %span 目立った傷や
                  %br 汚れなし
                .search__list__detail__state_box__one
                  = f.radio_button :state_eq, 'やや傷や汚れあり'
                  %span やや傷や汚れ
                  %br あり
                .search__list__detail__state_box__one
                  = f.radio_button :state_eq, '傷や汚れあり'
                  %span 傷や汚れあり
                .search__list__detail__state_box__one
                  = f.radio_button :state_eq, '全体的に状態が悪い'
                  %span 全体的に状態
                  %br が悪い
            = f.submit "検索", class: "search-more-button"

      .main_contents__box__contents__search__right
        .main_contents__box__contents__title_box
          .main_contents__box__contents__title_box__title
            %h2
              = "'#{params[:search]}' の検索結果"
        .main_contents__box__contents__items_search
          - @items.zip(@images, @trade).each do |item, image, trade|
            .main_contents__box__contents__items__one
              - if trade.sale_state == "trade"
                .sold_item
                  %p SOLD
                = image_tag image.url.url, class: "index_image"
              -else
                = image_tag image.url.url, class: "index_image"
              .main_contents__box__contents__items__one__image__price
                = "¥#{item.price}"
              .main_contents__box__contents__items__one__title
                %span
                  = link_to "/items/#{item.id}", method: :get do
                    = item.item_name

= render "footer"