= render "header"

.main_contents
  .main_contents__box
    .main_contents__box__contents__search
      -# ここから左のサイドの詳細検索の記述
      .main_contents__box__contents__search__left
        = search_form_for @q, url: search_more_items_path do |f|
          .search__list
            %h3 詳細検索
            .search__list__detail
              = f.label :item_name_or_description, "キーワードを追加する"
              = f.search_field :item_name_or_description_cont, class: "search-more-default"

            .search__list__detail
              = f.label :category_index, "カテゴリーを選択する"
              = f.select :category_index_eq, [ ["---", ""], ["レディース",1], ["メンズ", 2], ["ベビー・キッズ", 3 ] ,["インテリア・住まい・小物", 4], ["本・音楽・ゲーム", 5], ["おもちゃ・ホビー・グッズ", 6],["コスメ・香水・美容",7], ["家電・スマホ・カメラ",8],
                ["スポーツ・レジャー",9], ["ハンドメイド",10], ["チケット",11], ["自動車・オートバイ",12], ["その他",13]] ,{},{class: "search-more-default"}

            .search__list__detail
              = f.label :price, "価格"
              .search__list__detail__price
                = f.number_field :price_gteq, placeholder:"￥Min", class: "price-select"
                %span ~
                = f.number_field :price_lt, placeholder:"￥Max", class: "price-select"

            .search__list__detail
              = f.label :state, "商品の状態"
              .search__list__detail__state_box
                .search__list__detail__state_box__one
                  = f.radio_button :state_eq,  '', {:checked => true}
                  %span すべて
                .search__list__detail__state_box__one
                  = f.radio_button :state_eq, '新品、未使用'
                  %span 新品、未使用
                .search__list__detail__state_box__one
                  = f.radio_button :state_eq, '未使用に近い'
                  %span 未使用に近い
                .search__list__detail__state_box__one
                  = f.radio_button :state_eq, '目立った傷や汚れなし'
                  %span 目立った傷や
                  %br 汚れなし
                .search__list__detail__state_box__one
                  = f.radio_button :state_eq, 'やや傷や汚れあり'
                  %span やや傷や汚れ
                  %br あり
                .search__list__detail__state_box__one
                  = f.radio_button :state_eq, '傷や汚れあり'
                  %span 傷や汚れあり
                .search__list__detail__state_box__one
                  = f.radio_button :state_eq, '全体的に状態が悪い'
                  %span 全体的に状態
                  %br が悪い

            = f.submit "完了", class: "search-more-button"

      -# 右側に表示されるアイテム一覧
      .main_contents__box__contents__search__right
        .main_contents__box__contents__title_box
          .main_contents__box__contents__title_box__title
            %h2
              = "'#{params[:q][:item_name_or_description_cont]}'の検索結果"
        .main_contents__box__contents__items_search
          - @items.each do |item|
            .main_contents__box__contents__items__one
              -# = image_tag image.url.url, class: "index_image"
              .main_contents__box__contents__items__one__image__price
                = "¥#{item.price}"
              .main_contents__box__contents__items__one__title
                %span
                  = link_to "items/#{item[:item_id]}", method: :get do
                    = item.item_name

= render "footer"