!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title FreemarketSample60c
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header
      %div
        .header_top
          =link_to "/" do
            =image_tag "header_logo.png", class: "header_logo"
          %input.header_search{placeholder: "何かお探しですか？", type: "text"}
        .header_bottom
          .header_nav
            .header_nav_category
              %i.fa.fa-th-list.header__icon__left
              %span カテゴリーから探す
            = render "items/purudown"
            .header_nav_brand
              %span ブランドから探す
            .header_nav_brand_lists
              %ul
                %li シャネル
                %li ナイキ
                %li ルイ ヴィトン
                %li シュプリーム
                %li アティダス
                %li ブランド一覧
          .header_ragistration
            - if user_signed_in? 
              .header_ragistration_banner
                = link_to "/" do
                  %i.fa.fa-heart-o 
                  %span いいね！一覧 
                = link_to "/" do
                  %i.fa.fa-bell-o
                  %span お知らせ
                = link_to "/" do
                  %i.fa.fa-check 
                  %span やることリスト
                = link_to "/mypage" do
                  %i.fa.fa-circle-thin
                  %span マイページ 
            - else 
              = link_to "新規会員登録", new_user_registration_path, class: 'header_sign_up' 
              = link_to "ログイン", new_user_session_path, class: 'header__sign_in' 

              -# ヘッダーここまで


    = yield
%footer
  .footer
    .footer__upper
      =image_tag "footer_img.png", class: "footer__img"
    .footer__mid
      .footer__list__about
        %h2 メルカリについて
        %ul.no_circle
          %li 会社概要（運営会社）
          %li 採用情報
          %li プレスリリース
          %li 公式ブログ
          %li メルカリロゴ利用ガイドライン
          .footer__logo__sns
            =link_to "https://twitter.com/mercari_jp" do
              %i.fa.fa-twitter
            =link_to "https://www.facebook.com/mercarijp" do
              %i.fa.fa-facebook-square

      ​
      .footer__list__guide
        %h2 ヘルプ＆ガイド
        %ul.no_circle
          %li メルカリガイド
          %li らくらくメルカリ便
          %li ゆうゆうメルカリ便
          %li 大型メルカリ便
          %li 車体取引ガイド
          %li メルカリあんしん・あんぜん宣言！
          %li 偽ブランド品撲滅への取り組み
          %li メルカリボックス
      ​
      .footer__list__privacy_and_rule
        %h2 プライバシーと利用規約
        .footer__list__privacy
          %ul.no_circle
            %li プライバシーポリシー
            %li メルカリ利用規約
            %li あんしんスマホサポート制度に関する利用特約
            %li コンプライアンスポリシー
        ​
      .footer__list__rule
        %h2{ style: "color:rgb(34,34,34)" }٩(๑❛ᴗ❛๑)۶
        %ul.no_circle
          %li 個人データの安全管理に係る基本方針
          %li 特定商取引に関する表記
          %li 資金決済法に基づく表示
          %li 法令順守と犯罪抑止のために
        ​
      .footer__list__country
        %h2 国
        %ul.no_circle
          %li 日本
          %li United States
      
    .footer__lower
      =link_to "/" do
        =image_tag "top_footer_logo.png", class: "footer__logo"
      %span.footer__copyright © 2019 Mercari
