<!DOCTYPE html>
<html>
<head>
  <title>FreemarketSample60c</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

  <header>
    <div>
      <div class="header_top">
        <p class="header_logo">ロゴ</p>
        <input class="header_search" type="text" placeholder="何をお探しですか？">
      </div>

      <div class="header_bottom">
        <div class="header_nav">
          <div class="header_nav_category">カテゴリーから探す</div>
          <div class="header_nav_brand">ブランドから探す</div>
        </div>
        <div class="header_ragistration">
          <button class="header_sign_up">新規会員登録</button>
          <%= link_to "ログイン", new_user_session_path, class: "header__sign_in" %>
        </div>
      </div>

    </div>
  </header>

    <%= yield %>

  <footer>


  <div class="footer">
​
      <div class="footer__upper">
​
      </div>
​
      <div class="footer__mid">
​
        <div class="footer__list__about">
          <h2>メルカリについて</h2>
          <ul class="no_circle">
            <li>会社概要（運営会社）</li>
            <li>採用情報</li>
            <li>プレスリリース</li>
            <li>公式ブログ</li>
            <li>メルカリロゴ利用ガイドライン</li>
            <li>ツイッター/フェイスブック</li>
          </ul>
        </div>
​
        <div class="footer__list__guide">
          <h2>ヘルプ＆ガイド</h2>
          <ul class="no_circle">
            <li>メルカリガイド</li>
            <li>らくらくメルカリ便</li>
            <li>ゆうゆうメルカリ便</li>
            <li>大型メルカリ便</li>
            <li>車体取引ガイド</li>
            <li>メルカリあんしん・あんぜん宣言！</li>
            <li>偽ブランド品撲滅への取り組み</li>
            <li>メルカリボックス</li>
          </ul>
        </div>
​
        <h2>プライバシーと利用規約</h2>
        <div class="footer__list__privacy_and_rule">
          <div class="footer__list__privacy">
            <ul class="no_circle">
              <li>プライバシーポリシー</li>
              <li>メルカリ利用規約</li>
              <li>あんしんスマホサポート制度に関する利用特約</li>
              <li>コンプライアンスポリシー</li>
            </ul>
          </div>
​
          <div class="footer__list__rule">
            <ul class="no_circle">
              <li>個人データの安全管理に係る基本方針</li>
              <li>特定商取引に関する表記</li>
              <li>資金決済法に基づく表示</li>
              <li>法令順守と犯罪抑止のために</li>
            </ul>
          </div>
​
        </div>
​
​
          <div class="footer__list__country">
​
            <h2>国</h2>
​
            <ul class="no_circle">
              <li>日本</li>
              <li>United States</li>
            </ul>
​
          </div>
​
        </div>
      </div>
      <div class="footer__lower">
        <span class="footer__copyright">© 2019 Mercari</span>
      </div>
    </div>
    
  </footer>

</body>
</html>
